@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
 body {
    font-family: 'Fira Code', monospace;
    background-color: #f0f0fd;
    margin:0;
  }
  .fleex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 li{
  	color: black;
  }
  a{
    color: black;
  }
  .navbar {
    background-color: #f0f0fd;
    max-width: 960px;
  }
  
  .navbar a {
    background-color: #f0f0fd;
    display: inline-block;
    font-size: 10px;
    text-decoration: none;
  }

   h1{
    color: black;
    font: 15px bold;
    margin-left: 5px;
  }


   h2, h3, h4, h5, h6 {
     color: black;
		margin: 15px 0px;
		font-size: 1.3em;
		font-weight: bold;
	}
  }
th {
		background: #354e71;
		color: black;
		border: 0.1px solid rgb(132, 132, 132);
		background-color: #f0f0fd;
		text-align: center
	}
	
	th, td {
		padding: 1px 2px;
	}
	
	td {
		border: 0.1px solid rgb(90, 90, 90);
		background-color: #f0f0fd;
	}

 
 .header{
    text-align: left;
    letter-spacing: 5px;
    background: rgb(102, 102, 102);
    color:black;
    font-family: 'Fira Code', monospace;
    font-size: 10px;
    margin: 0;
    margin-bottom: 40px;
  }

footer{
    background-color: #a8a8a8;
    color: black;
    height: 80px;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 55px;
    padding-top: 15px;
    font-size: 10px;
    margin-top: 5px;
  }
  @media only screen and (min-width: 980px) {
  .header{
    text-align: left;
    letter-spacing: 14px;
    background: rgb(102, 102, 102);
    color:black;
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    margin:0;
    margin-bottom: 60px;
  }
     h1{
    color: black;
    font: 50px bold;
    margin-left: 10px;
  }



  }